.meal-name {
	font-size: 45px;
	font-weight: bold;
}

.restaurant {
	font-size: 28px;
}

.detail-row {
	text-align: center;
}

.nutrition-info {
	text-align: center;
	width: 95%;
}

.td-left {
	text-align: center;
}

.td-right {
	text-align: center;
}

.meal-description {
	font-style: italic;
}

.cost {
	font-size: 30px;
}