h3 {
  font-family: "bebasregular";
  color: #2C3E50;
  margin-bottom: 15px;
}

.search-field {
  margin-bottom: 10px;
}

#search-food {
  font-family: "bebasregular";
  font-size: 24px;
  color: #ECF0F1;
  margin-top: 20px;
}

.test {
  .col-md-8 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }
  .col-md-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }
}