h4 {
  color: #2C3E50;
}

.navbar {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

#search-food {
  color: #ECF0F1;
  margin-top: 15px;

  .glyphicon-search {
    margin-right: 5px;
  }
}

.test {
  .col-md-8 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }
  .col-md-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }
}

#help-goal {
  margin-top: 10px;
}