.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://holykaw.alltop.com/wp-content/uploads/2010/01/6090801-media_httpdefinitivet_aImaA.jpg) no-repeat;
	}