.well {
  background-color: white;

  h4.email {
    margin-top: 0px;
  }
}

#btn-register {
  margin-top: 15px;
}

#cancel {
  margin-bottom: 20px;
}

.input-error {
 border:1px solid red;
}

.required {
  color: #D6430E;
}