ul {
    list-style-type: none;
}

#results  {
	margin-top: 15px;
}

.result-label {
	margin-right: 10px;
}

.result-field {
	text-align: center;
}

.label-icon {
	display: inline-block;
}

.label-row {
	margin-bottom: 13px;
}

.list-group-item {
	padding-left: 20px;
}

.more-info {
	padding-right: 5px;
}