{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/coming_soon.css' />
{{/section}}

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary col-xs-12" id="back-button" onclick="goBack()">
        Go Back
      </button>
    </div>
  </div>
  <div class="well">
    <center>
      <h3>Oops, still working on this!</h3>
      <p>Here's a picture of a cat instead</p>
      <img src="http://lorempixel.com/640/480/cats/" class="img-responsive">
    </center>
  </div>
</div>