{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/details.css' />
{{/section}}

<div class="container-fluid" id="main">
	<div class="row">
		<div class="col-xs-12">
			<h1>Super Healthy Salad</h1>
			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-map-marker"></span>
				</div>
				<div class="media-body">
					<h3 class="media heading">Ocean View Terrace</h3>
				</div>
			</div>

			
			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-usd"></span>
				</div>
				<div class="media-body">
					<h4 class="media heading">9.95</h4>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-hourglass"></span>
				</div>
				<div class="media-body">
					<h4 class="media heading">15 min</h4>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-resize-horizontal"></span>
				</div>
				<div class="media-body">
					<h4 class="media heading">0.3 mi</h4>
				</div>
			</div>


			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-info-sign"></span>
				</div>
				<div class="media-body">
					<h4 class="media heading">Description</h4>
					<p>A fresh bed of chopped Romaine lettuce, topped with shredded red cabbage and carrots, a blend of shredded Monterey Jack and Cheddar cheeses and grape tomatoes. Made fresh daily. Served with Charred Tomato Crispy Red Bell Peppers and guest's choice of dressing.</p>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-apple"></span>
				</div>
				<div class="media-body">
					<h4 class="media heading">Ingredients</h4>
					<p>Romaine lettuce, grape tomatoes, Monterey/Jack cheddar cheese blend (cheddar cheese [pasteurized milk, cheese culture, salt, enzymes, annatto natural coloring], Monterey Jack cheese [milk, cheese culture, salt, enzymes], potato starch and powdered cellulose added to prevent caking, natamycin [a natural mold inhibitor]), red cabbage, carrots.</p>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<span class="glyphicon glyphicon-scale"></span>
				</div>
				<div class="media-body">
					<h4 class="media heading">Nutrition</h4>
					<table class="table table-hover nutrition-info">
						<tr>
							<td class="td-left">Calories</td>
							<td class="td-right">80</td>
						<tr>
						<tr>
							<td class="td-left">Fat</td>
							<td class="td-right">4g</td>
						<tr>
						<tr>
							<td class="td-left">Fiber</td>
							<td class="td-right">3g</td>
						<tr>
						<tr>
							<td class="td-left">Sugars</td>
							<td class="td-right">3g</td>
						<tr>
						<tr>
							<td class="td-left">Protein</td>
							<td class="td-right">5g</td>
						<tr>
						<tr>
							<td class="td-left">Sodium</td>
							<td class="td-right">70mg</td>
						<tr>
						<tr>
							<td class="td-left">Carbohydrates</td>
							<td class="td-right">10g</td>
						<tr>
						<tr>
							<td class="td-left">Calories</td>
							<td class="td-right">80</td>
						<tr>
					</table>
				</div>
			</div>
		</div>
</div>
