<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-12">
    	<h3> Help (is on the way!)</h3>
    	<div class="modal-body">
			The "Dietary Goal" feature helps you choose and set your own personal nutritional goal from our five custom preset list. Choose a nutritional goal that best fits your personal needs and future goals. Choose wisely! 
			</br></br>
			<ul style="list-style-type:disc">
				<li>Lose Weight: this page is still in progress</li>
				<li>Gain Lean Muscle</li>
				<li>Gain Weight</li>
				<li>Maintain Weight</li>
				<li>None</li>
			</ul>
		</br></br>
		</div>
      <button class="btn btn-primary col-xs-12" id="back-button" onclick="goBack()">
         Back
      </button>
    </div>
  </div>
</div>