{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/help.css' />
{{/section}}

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-12">
    	<h3> Help (is on the way!)</h3>
    	<div class="modal-body">
			The "Dietary Goal" feature helps you choose and set your own personal nutritional goal from our five custom preset list. Choose a nutritional goal that best fits your personal needs and future goals. Choose wisely! 
			</br></br>
			<ul style="list-style-type:disc">
				<li><em>Lose Weight </em><br>You're looking to slim down a size and eat healthier. Aren't we all? Pick this goal to get meals that will do just that.</li>
				<li><em>Gain Lean Muscle</em><br>It's beach season. Every season. Pick this option for foods that will help you gain muscle.</li>
				<li><em>Gain Weight</em><br> Because you know it's all about that bass. Pick this goal if you're looking for carbs and fats.</li>
				<li><em>Maintain Weight</em><br> You're feeling just right about your weight. You go Glen Coco! Pick this option for healthy foods that won't make you skinnier or fatter. </li>
				<li><em>None</em></br> What are dietary goals? You eat to get full and that is it. Pick this option if you don't want any dietary goal filters. </li>
			</ul>
		</br></br>
		</div>
      <button class="btn btn-primary col-xs-12" id="back-button" onclick="goBack()">
         Back
      </button>
    </div>
  </div>
</div>