<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary col-xs-12" id="back-button" onclick="goBack()">
         Back
      </button>
    </div>
  </div>
</div>