{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/index.css' />
{{/section}}

<div class="container-fluid" id="main">
	<form>
		{{#each fields}}
			{{> selector}}
		{{/each}}

		<div class="row">
			<div class="col-xs-12 search-field">
				<center>
					<div class="btn-group">
						<button type="submit" class="btn btn-primary btn-lg" id="search-food" data-toggle="dropdown" aria-expanded="false" onclick="location.href='/search/results';">
							SEARCH FOR FOOD!
						</button>
					</div>
				</center>
			</div>
		</div>
	</form>
</div>

{{#section 'bodyscripts'}}
<script src="javascripts/options_update.js"></script>
{{/section}}