{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/index.css' />
{{/section}}

<div class="container-fluid" id="main">
	<form>
		{{#each fields}}
			{{#include parent=..}}
				{{> selector_partial}}
			{{/include}}
		{{/each}}

		<div class="row">
			<div class="col-xs-12 search-field bottom-most-button">
				<center>
					<button type="submit" class="btn btn-primary btn-lg col-xs-12" id="search-food">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						Find me grub!
					</button>
				</div>
			</center>
		</div>

	</form>
</div>

{{#section 'bodyscripts'}}
<script src="/javascripts/options_update.js"></script>
<script src="/javascripts/search.js"></script>
{{/section}}