{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/login.css' />
{{/section}}

<div class="container-fluid" id="main">
  {{#if message}}
  <div class="alert alert-danger" role="alert">{{message}}</div>
  {{/if}}
  <div class="well">
    <form action="/auth/login" method="POST">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="email">Email</h4>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input type="email" name="username" class="form-control" placeholder="awesome-student@ucsd.edu" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Password</h4>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input type="password" name="password" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-warning col-xs-12" id="btn-login" type="submit">Login</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-xs-12 bottom-buttons register">
      <p class="text-center">Don't have an account?</p>
      <button class="btn btn-primary col-xs-12" onclick="location.href='/auth/register';">Register</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 bottom-buttons last-button">
      <button class="btn btn-default col-xs-12" onclick="location.href='/coming_soon';">Forgot Password</button>
    </div>
  </div>
</div>