{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/map.css' />
{{/section}}

<div class="container-fluid" id="main">
	<div class="well">
		<div class="row map-location">
			<div class="col-xs-12">
				<h1 class="restaurant">{{meal.restaurant}}</h1>
				<div class="media">
					<div class="media-body">
						<h3 class="media heading college">in {{meal.college}}</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="map-scale embed-responsive embed-responsive-4by3">
			<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-Pgdg3xsXcTKVJmSPtPQuxqsWNEsehTo&q={{meal.googleAddress}}" frameborder="0" style="border:0"></iframe>
		</div>

	  <div class="row">
	    <div class="col-xs-12 back">
	      <button class="btn btn-primary col-xs-12" type="submit" onclick="location.href='/search/results';">Back</button>
	    </div>
	  </div>
	</div>
</div>