{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/profile.css' />
<link rel='stylesheet' href='/stylesheets/results.css' />
{{/section}}

<div class="container-fluid" id="main">
  <div class="well">
    <center>
      <div class ="row">
        <h3 class="username">Bruce Wayne</h3>
      </div>
      <img class="img-responsive img-circle" id="profile-icon" src="/images/batman_profile_icon.jpg">
    </center>
    <div class="row">
      <div class="col-xs-12 search-field">
        <h4>Email</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
          <input type="text" class="form-control" value="iamnotbatman@batcave.com">
        </div>
      </div>
    </div>
    {{#each fields}}
    {{> selector}}
    {{/each}}
    <div class="row">
      <div class="col-xs-12">
        <h4>Favorites</h4>
      </div>
    </div>

    {{> results_partial}}

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-warning col-xs-12" id="btn-changepw" type="submit">Change Password</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 save">
        <button class="btn btn-primary col-xs-12" type="submit">Save Changes</button>
      </div>
    </div>
  </div>
</div>

{{#section 'bodyscripts'}}
<script src="../javascripts/options_update.js"></script>
{{/section}}
