{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/results.css' />
<link rel='stylesheet' href='/stylesheets/profile.css' />
{{/section}}

<div class="container-fluid" id="main">
  <div class="well">
    <center>
      <img class="img-responsive img-circle" id="profile-icon" src="/images/batman_profile_icon.jpg">
    </center>
    <div class="row">
      <div class="col-xs-12 search-field">
        <h4>Email</h4>
        <div class="input-group email-field">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
          <input type="text" class="form-control" value="{{user.username}}">
        </div>
      </div>
    </div>

    {{#each fields}}
    {{> selector_partial}}
    {{/each}}

    <div class="row">
      <div class="col-xs-12">
        <h4>Favorites <span id="coming-soon">Coming Soon!</span></h4>
      </div>
    </div>

    <div id="results" class="placeholder-disabled">
      <ul class="list-group">
        {{#each meals}}
        {{> list_results_partial}}
        {{/each}}
      </ul>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-warning col-xs-12" id="btn-changepw" type="submit" onclick="location.href='/coming_soon';">Change Password</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 save">
        <button class="btn btn-primary col-xs-12" type="submit" onclick="location.href='/coming_soon';">Save Changes</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-danger col-xs-12" id="back-button" onclick="goBack()">
        Cancel
      </button>
    </div>
  </div>
</div>

{{#section 'bodyscripts'}}
<script src="../javascripts/options_update.js"></script>
<script src="../javascripts/results.js"></script>
{{/section}}
