{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/register.css' />
{{/section}}

<div class="container-fluid" id="main">
  {{#if message}}
    <div class="alert alert-danger" role="alert">{{message}}</div>
  {{/if}}
  <div class="well">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="email">Email</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
          <input type="email" class="form-control" id="email-input" placeholder="awesome-student@ucsd.edu" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Password</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="password" class="form-control" id="password-input" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Password Confirmation</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="password" class="form-control" id="password-confirmation-input" required>
        </div>
      </div>
    </div>

    {{#each fields}}
    {{> selector_partial}}
    {{/each}}

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary col-xs-12" id="btn-register">Register</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 registration bottom-most-button">
      <button class="btn btn-danger col-xs-12" type="submit" onclick="location.href='/';">Cancel</button>
    </div>
  </div>
</div>

{{#section 'bodyscripts'}}
<script src="../javascripts/options_update.js"></script>
<script src="../javascripts/signup.js"></script>
{{/section}}