{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/register.css' />
{{/section}}

<div class="container-fluid" id="main">

  <div class="well">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="email">Email</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="awesome-student@ucsd.edu">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Password</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Password Confirmation</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    {{#each fields}}
    {{> selector}}
    {{/each}}

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary col-xs-12" id="btn-register" type="submit" onclick="location.href='/auth/profile';">Register</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 registration">
      <button class="btn btn-danger col-xs-12" type="submit" onclick="location.href='/';">Cancel</button>
    </div>
  </div>
</div>

{{#section 'bodyscripts'}}
<script src="../javascripts/options_update.js"></script>
{{/section}}