{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/register.css' />
{{/section}}

<div class="container-fluid" id="main">

  <div class="well">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="email">Email</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="awesome-student@ucsd.edu">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Password</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Password Confirmation</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Dietary Goal</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="Gain Lean Muscle" disabled>
          <div class="input-group-btn">
            <button class="btn btn-default" type="button" data-toggle="collapse" href="#select-goal" aria-expanded="false" aria-controls="select-goal">
              Change
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="collapse" id="select-goal">
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Lose Weight</a></li>
            <li class="list-group-item"><a href="#">Gain Lean Muscle</a></li>
            <li class="list-group-item"><a href="#">Gain Weight</a></li>
            <li class="list-group-item"><a href="#">Maintain Weight</a></li>
            <li class="list-group-item"><a href="#">Healthy</a></li>
            <li class="list-group-item"><a href="#">None</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 search-field">
        <h4>Dietary Restrictions</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="None" disabled>
          <div class="input-group-btn">
            <button class="btn btn-default" type="button" data-toggle="collapse" href="#select-restrictions" aria-expanded="false" aria-controls="select-restrictions">
              Change
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="collapse" id="select-restrictions">
          <ul class="list-group">
            <li class="list-group-item"><a href="#">None</a></li>
            <li class="list-group-item"><a href="#">Vegetarian</a></li>
            <li class="list-group-item"><a href="#">Vegan</a></li>
            <li class="list-group-item"><a href="#">Pescatarian</a></li>
            <li class="list-group-item"><a href="#">Kosher</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary col-xs-12" id="btn-register" type="submit" onclick="location.href='/auth/profile';">Register</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 registration">
      <button class="btn btn-danger col-xs-12" type="submit" onclick="location.href='/';">Cancel</button>
    </div>
  </div>
</div>