{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/results.css' />
{{/section}}

<div class="container-fluid" id="main">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Sort By <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Time</a></li>
      <li><a href="#">Distance</a></li>
      <li><a href="#">Cost</a></li>
    </ul>
  </div>

  {{> results_partial}}

  <div class="row">
    <div class="col-xs-12 back">
      <button class="btn btn-primary col-xs-12" type="submit" onclick="location.href='/search_page';">Back</button>
    </div>
  </div>
</div>