{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/results.css' />
{{/section}}

<div class="container-fluid" id="main">
  {{#if meals}}
  <div class="row">
    <div class="col-xs-10">
      <h3>Your Food Awaits</h3>
    </div>

    <div class="col-xs-2">
      <div class="btn-group pull-right" id="sort-button">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Sort By <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/coming_soon">Time</a></li>
          <li><a href="/coming_soon">Distance</a></li>
          <li><a href="/coming_soon">Cost</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p id="back-text">Nothing tasty?<a href='/search_page' id="back-link"> Refine your search!</a></p>

  <div id="results">
    <ul class="list-group">
    {{#each meals}}
      {{> list_results_partial}}
    {{/each}}
    </ul>
  </div>
  {{else}}
  <div id="sorry">
    <center>
      <img src="/images/sad_kid.jpg" class="img-responsive" id="sad-kid">    
      <h4><em>Sorry, we couldn't anything that fit your criteria (man, you're picky!). <a href='/search_page'>Click here to refine your search!</a></em></h4>
    </center>
  </div>
  {{/if}}

</div>

{{#section 'bodyscripts'}}
<script src="../javascripts/results.js"></script>
{{/section}}