{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/results.css' />
{{/section}}

<div class="container-fluid" id="main">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Sort By <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Time</a></li>
      <li><a href="#">Distance</a></li>
      <li><a href="#">Cost</a></li>
    </ul>
  </div>

  <div id="results">
    <ul class="list-group">
      <li class="list-group-item">
          <div class="result-field">
            <h4>Super Healthy Salad</h4>
            <p>@ Ocean View Terrace</p>
            <span class="label label-success result-label">
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            </span>
            <span class="label label-danger result-label">
              <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            </span>
            <span class="label label-warning result-label">0.3 miles</span>
            <a href="/search/results/detail"><span class="label label-info result-label">Detail</span></a>
            <a href="/search/results/detail/map"><span class="label label-primary result-label">Map</span></a>
          </div>
      </li>
      <li class="list-group-item">
        <div class="result-field">
          <h4>Kale Cranberry Wrap</h4>
          <p>@ Goody's Market</p>
          <span class="label label-success result-label">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          </span>
          <span class="label label-danger result-label">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
          </span>
          <span class="label label-warning result-label">0.1 miles</span>
          <a href="/search/results/detail"><span class="label label-info result-label">Detail</span></a>
          <a href="/search/results/detail/map"><span class="label label-primary result-label">Map</span></a>
        </div>
      </li>
      <li class="list-group-item">
        <div class="result-field">
          <h4>Vegeterian's Dream Dish</h4>
          <p>@ Pines</p>
          <span class="label label-success result-label">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          </span>
          <span class="label label-danger result-label">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
          </span>
          <span class="label label-warning result-label">1.5 miles</span>
          <a href="/search/results/detail"><span class="label label-info result-label">Detail</span></a>
          <a href="/search/results/detail/map"><span class="label label-primary result-label">Map</span></a>
        </div>
      </li>
      <li class="list-group-item">
        <div class="result-field">
          <h4>Super Bran Muffin</h4>
          <p>@ Muir Woods Coffee Shop</p>
          <span class="label label-success result-label">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          </span>
          <span class="label label-danger result-label">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
          </span>
          <span class="label label-warning result-label">1.4 miles</span>
          <a href="/search/results/detail"><span class="label label-info result-label">Detail</span></a>
          <a href="/search/results/detail/map"><span class="label label-primary result-label">Map</span></a>
        </div>
      </li>
      <li class="list-group-item">
        <div class="result-field">
          <h4>Walnut Banana Bread Loaf</h4>
          <p>@ Peet's Coffee</p>
          <span class="label label-success result-label">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          </span>
          <span class="label label-danger result-label">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
          </span>
          <span class="label label-warning result-label">0.8 miles</span>
          <a href="/search/results/detail"><span class="label label-info result-label">Detail</span></a>
          <a href="/search/results/detail/map"><span class="label label-primary result-label">Map</span></a>
        </div>
      </li>
      <li class="list-group-item">
        <div class="result-field">
          <h4>Tofu Caesar Salad</h4>
          <p>@ Short Stop</p>
          <span class="label label-success result-label">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          </span>
          <span class="label label-danger result-label">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
          </span>
          <span class="label label-warning result-label">0.7 miles</span>
          <a href="/search/results/detail"><span class="label label-info result-label">Detail</span></a>
          <a href="/search/results/detail/map"><span class="label label-primary result-label">Map</span></a>
        </div>
      </li>
    </ul>
  </div>
</div>