{{#section 'head'}}
	<link rel='stylesheet' href='/stylesheets/splash.css' />
{{/section}}

<div id="container-fluid">
	<div class="row">
		<div class="col-xs-12 splash">
			<center>
				<img src="images/coming_soon.png" class="img-responsive">
				<p class="lead">Hungry? Find something delicious on campus that fits your goals in no time!</p>
				<button class="btn btn-default btn-primary btn-lg" id="get-started" type="button" aria-expanded="false">
					Get Started!
				</button>
			</center>
		</div>
	</div>
</div>

{{#section 'bodyscripts'}}
	<script src="javascripts/splash.js"></script>
{{/section}}