{{#section 'head'}}
<link rel='stylesheet' href='/stylesheets/template.css' />
{{/section}}

<div class="container-fluid" id="main">
  <div class="template-class">
	  <h2>Hello World!</h2>
	  <h3>This is a template page...</h3>
	  <h4>Go dawg, I heard you like searches so I <a href="template/search">embedded the search page within this template page...</a></h4>
  </div>
  <div class="row">
    <div class="col-xs-12 back">
      <button class="btn btn-primary col-xs-12" type="submit" onclick="location.href='/';">Take Me Home, Dawg</button>
    </div>
  </div>

</div>
