.meal-name {
  color: #D6430E;
  font-size: 30px;
  font-weight: bold; }

.restaurant {
  font-size: 20px; }

.detail-row {
  text-align: left; }

.nutrition-info {
  text-align: left;
  width: 95%; }

.td-left {
  text-align: left; }

.td-right {
  text-align: left; }

.meal-description {
  font-style: italic; }

.cost {
  font-size: 20px; }

#back-button {
  margin-bottom: 10px; }

span {
  margin-right: 5px; }
