h4 {
  color: #2C3E50; }

#search-food {
  color: #ECF0F1;
  margin-top: 15px;
  margin-bottom: 20px; }
  #search-food .glyphicon-search {
    margin-right: 5px; }

.test .col-md-8 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; }
.test .col-md-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; }
