@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
  background-color: #ECF0F1;
  padding-top: 65px;
  font-family: 'Roboto', sans-serif; }

.back {
  margin-top: 25px;
  margin-bottom: 25px; }

.btn.search-option {
  text-align: left; }
