.well {
  background-color: white; }
  .well h4.email {
    margin-top: 0px; }

#btn-login {
  margin-top: 15px; }

.bottom-buttons button {
  margin-top: 0px; }

.register {
  margin-bottom: 10px; }

.last-button {
  margin-bottom: 20px; }
