.restaurant {
  color: #D6430E;
  font-size: 30px;
  font-weight: bold; }

.college {
  font-size: 20px; }

.map-location {
  margin-left: 8px;
  margin-bottom: 30px; }

.map-scale {
  margin-left: 17px;
  margin-right: 20px;
  margin-bottom: 30px; }

.back {
  margin-top: 25px;
  margin-bottom: 25px; }

#back-button {
  margin-bottom: 10px; }
