.restaurant {
  font-size: 40px;
  font-weight: bold; }

.college {
  font-size: 28px; }

.map-location {
  text-align: center; }

.map-scale {
  margin-left: 17px;
  margin-right: 20px; }

.back {
  margin-top: 25px;
  margin-bottom: 25px; }
