#profile-icon {
  padding: 10px;
  width: 250px;
  height: 250px; }

.email-field {
  margin-bottom: 15px; }

#btn-changepw {
  margin-bottom: 10px; }

.placeholder-disabled {
  opacity: 0.6;
  margin-top: 0px !important; }

#coming-soon {
  color: #D6430E; }

#back-button {
  margin-bottom: 20px; }

/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none; }
