h3 {
  color: #2C3E50;
  margin-bottom: 5px;
  margin-top: 6px; }

#back-text {
  margin-top: 5px; }

ul {
  list-style-type: none; }

#results {
  margin-top: 15px; }

.result-field {
  text-align: center; }

.label-result {
  margin-right: 15px; }

.label-icon {
  display: inline-block;
  font-size: 14px; }

.label-row {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px; }

.list-group-item {
  margin-left: 15x; }

.more-info {
  margin-right: 5px;
  margin-bottom: 15px; }

.meal-name {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 13px; }

.restaurant {
  font-size: 20px; }

.sort-button {
  margin-top: 62px; }

#sad-kid {
  padding: 20px;
  opacity: 0.75; }
