h3 {
  color: #2C3E50;
  margin-bottom: 5px;
  margin-top: 6px; }

#back-text {
  margin-top: 5px;
  margin-bottom: 0px; }

ul {
  list-style-type: none; }

#results {
  margin-top: 15px; }

h4.meal-name {
  font-size: 20px;
  margin-bottom: 8px;
  color: #D6430E; }

.restaurant-cost h5 {
  margin-top: 0px;
  margin-bottom: 5px; }

.extra-info {
  color: #8C8C8C;
  margin-bottom: 10px; }
  .extra-info p {
    margin-bottom: 0px; }

.more-info {
  margin-bottom: 10px; }

.sort-button {
  margin-top: 62px; }

#sad-kid {
  padding: 20px;
  opacity: 0.75; }

#sorry h4 {
  margin-left: 10px;
  margin-right: 10px; }
