.lead {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .lead p {
    margin-left: 10px;
    margin-right: 10px; }

img {
  padding: 25px 50px; }

.splash {
  margin-top: 40px;
  margin-bottom: 20px; }
